<div class="col-md-5 offset-md-3">
    <h3 style="color: blue;">Create Employee list</h3>
    <form (ngSubmit)="onSubmit()">
        <div class="form-group" class="mb-2">
            <label >Id:</label>
            <input type="number" class="form-control" id="id" [(ngModel)]="employee.id" name="id">
        </div>
        <div class="form-group" class="mb-2" >
            <label>firstName:</label>
            <input type="text" class="form-control" id="firstName" [(ngModel)]="employee.firstName" name="firstName">
        </div>
        <div class="form-group" class="mb-2">
            <label >lastName:</label>
            <input type="text" class="form-control" id="lastName" [(ngModel)]="employee.lastName" name="lasttName">
        </div>
        <div class="form-group" class="mb-2">
            <label >emailId:</label>
            <input type="email" class="form-control" id="emailId" [(ngModel)]="employee.emailId" name="emailId">
        </div>
        <div>
     
        <button class="btn btn-primary">submit</button>
     
        </div>
    </form>
    </div>
    <router-outlet></router-outlet>
    