<mat-toolbar color="primary">
  <button class="header1" mat-icon-button><mat-icon>menu</mat-icon> </button>
  <span class="header">
  <span>Logo</span>
  <a><button mat-button>Home</button></a>
  <a><button mat-button>About Us</button></a>
  <a><button mat-button>contact Us</button></a>
</span>
  <span class="f-auto"></span>
  <span class="header1">
  <a><button mat-stroked-button>Login</button></a>
  <a><button mat-stroked-button>Signup</button></a>
</span>
</mat-toolbar>
<!-- <mat-slide-toggle>Toggle me!</mat-slide-toggle> -->

<!-- <mat-form-field floatLabel="auto" hideRequireMarker apperance="outline" color="warn">
  <mat-label>name</mat-label>
  <input matInput required >
  <mat-hint align="end">minimum 5 characters</mat-hint>
</mat-form-field> -->


<router-outlet></router-outlet>
