<p>raji works!</p>
<!-- <ul>
    <li *ngFor="let user of users">  </li>
        <li>{{user.title}}</li>
  
</ul>
 my birthday is :{{birthday | date:'MM/DD/YY'}}

 birthday date=new Data()

 <table *ngIf="status;else elselock">
    <ng-template #elseblock>
        <p>this works</p>
    </ng-template>
 </table> -->
<!--  
 text:boolean;
 this.text=! this.text 

 this.count=+this.count+1 -->
 
 <!-- <h1>this is my id:{{user}}</h1> -->

 
<!-- <div  class="d-flex">
    <button type="button" class="btn btn-success">Success</button>
</div>
 <table class="table" *ngIf="status; else elseblock">
    <thead>
        <tr>
            <th>userId</th>
            <th>id</th>
            <th>title</th>
            <th>body</th> &nbsp;&nbsp;
            <th>actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of userlist">
            <td>{{user.userId}}</td>
            <td>{{user.id}}</td>
            <td>{{user.title}}</td>
            <td>{{user.body}}</td>
          <td><button type="button" class="btn btn-success">Success</button></td>
          <td><button type="button" class="btn btn-danger" (click)="deletefun(post)">Delete</button></td>
        </tr>
    </tbody>
 </table>
 <ng-template #elseblock ><h3>this page is not found</h3>
</ng-template> -->
<!-- <h1>this is raji component</h1> -->

  <!-- <a routerLink="/raji/anu" routerLinkActive="Active">go to anu component</a> -->
<!-- <table>
  <thead>
      <tr>
           <th>userId</th> -->
          <!-- <th>id</th> -->
          <!-- <th>title</th>
          <th>body</th> &nbsp;&nbsp;
          <th>actions</th> -->
      <!-- </tr>
  </thead>
  <tbody>
      <tr *ngFor="let user of userlist"> -->
          <!-- <td>{{user.userId}}</td> -->
          <!-- <td>{{user.id}}</td> -->
          <!-- <td>{{user.title}}</td>
          <td>{{user.body}}</td> -->
        <!-- <td><button type="button"  (click)="changeFun(user)" >ADD</button></td> -->
    