<!-- <table class="table">
    <thead>
        <tr>
            <th>language</th>
            <th>marks</th>
            <th>year</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of users">
            <td>{{user.language}}</td>
            <td>{{user.marks}}</td>
            <td>{{user.year}}</td>
         </tr>
    </tbody>
 </table> -->
  <h3>employee details</h3>
  <div>
    <div>
        <label><b>id:</b></label>{{employee.id}}
    </div>
    <div>
        <label><b>firstName:</b></label>{{employee.firstName}}
    </div>
    <div>
        <label><b>lastName:</b></label>{{employee.lastName}}
    </div>
    <div>
        <label><b>emailId:</b></label>{{employee.emailId}}
    </div>
  </div>